In [17]:
#Ques 1. (i) Remove duplicates elements from a list?
#(ii) Reverse the respective list?

#list = [1,1,1,1,3,4,6,8,8,0,3,2,0,1,10]

def duplicate(l):
    res = []
    [res.append(x) for x in l if x not in res]
    return res[::-1]
l = [1,1,1,1,3,4,6,8,8,0,3,2,0,1,10]
print(duplicate(l))

[10, 2, 0, 8, 6, 4, 3, 1]

In [2]:
#Quest 2. (i) Find the product name which has the highest price and lowest price?
# (ii) Write a function to sort the product list in ascending or descending order of price or name?
# (iii) Create a list of product name from the above json?
import math
'''{
"product": [
{"name": "lux Soap","price": 20},
{"name": "T shirt","price": 500},
{"name": "Jeans","price": 999},
{"name": "headphone","price": 2000},
{"name": "TV","price": 49999},
{"name": "5star","price": 10}
	]
}'''

def question_first(arr):
    low = math.inf
    lowname = ''
    highname = ''
    high = -math.inf
    for i in arr['product']:
        if(i['price'] < low):
            low = i['price']
            lowname = i['name']
        if(i['price'] > high):
            high = i['price']
            highname = i['name']
    print(lowname , highname)
def question_second(arr):
    print(sorted(arr['product'], key = lambda d : d['price'] , reverse = False))
def return_name(arr):
    name = []
    for row in arr["product"] :
            name.append(row["name"])
    return name

arr = {
"product": [
{"name": "lux Soap","price": 20},
{"name": "T shirt","price": 500},
{"name": "Jeans","price": 999},
{"name": "headphone","price": 2000},
{"name": "TV","price": 49999},
{"name": "5star","price": 10}]}

question_second(arr)

[{'name': '5star', 'price': 10}, {'name': 'lux Soap', 'price': 20}, {'name': 'T shirt', 'price': 500}, {'name': 'Jeans', 'price': 999}, {'name': 'headphone', 'price': 2000}, {'name': 'TV', 'price': 49999}]

In [11]:
#Filter out all the integer value from the given list?

#list = ["123", "456", "12", "678", "901", "12A", "45b", "67Q" ]

def check_print(arr):
    res = []
    for e in arr:
        try:
            res.append(int(e))
        except ValueError:
            pass
    return res
arr = ["123", "456", "12", "678", "901", "12A", "45b", "67Q" ]
print(check_print(arr))

[123, 456, 12, 678, 901]

In [7]:
# Consider the two array/list find the variable present in both the list?
def check_variable(arr1 , arr2) :
    for row in arr1 :
        if(row in arr2):
            print(row)
l1 = [1,2,3,4,5,6]
l2 = [1,2,4,0,8]
check_variable(l1,l2)

1
2
4

In [3]:
# Consider the two array/list find the variable (takes input from user) present in the first list or both the list if not in second and vice-versa?

def check_list(arr1 , arr2):
    res = []
    for row in arr1 :
        if(row in res):
            pass
        elif(row in arr2) :
            res.append(row)
            print(row , end = ' ')
            print('Present in both the list ')
        else :
            res.append(row)
            print(row , end = ' ')
            print("Present in first array")
    for row in arr2 :
        if(row in res):
            pass
        else :
            print(row , end = ' ')
            print("Present in second array")
arr1 = [int(a) for a in input().split()]
arr2 = [int(b) for b in input().split()]
check_list(arr1,arr2)

1 2 3 4 5
2 6 7 8
1 Present in first array
2 Present in both the list
3 Present in first array
4 Present in first array
5 Present in first array
6 Present in second array
7 Present in second array
8 Present in second array

In [ ]:
Q 1.- What is mongodb?

     Mongodb is a NoSQL database management program . 
    NoSQL database are generally easy to use for large database  .
Q 2. Is mongoDB relational DB or non -relation DB?

    Mongodb is non-relational document database .
    
3. What is relational and non-relational database?

    relational database - where data are stored in the form of rows and column .
    non-relational database - NoSQL database , data are in the form of unorganised form  .
    
4. Difference between relational and non- relational database?

    relational database is structured (data are stored in table). Different tables are connected with each other. 
    non-relational database are document-oriented . data get stored in more of a unorganised list order.
    
5. Pro and cons of non-relational database.
    Advantage :- 
            1 - Can handle large amount of data . 
            2 - Few lines of code
    Disadvantage :- 
            1 - Getting the solution in internet is very challanging
6. What are crud operation?
        CURD stand for create , update , read , delete 
        This operation come under DML (Data Manipulation Language)
7. What is mongo aggregation?

In [5]:
#write a python script to insert given students in students with different marks, use random to generate different marks between 5 to 12.
# Student – Vikash, Rakesh, Monu, Bunty, Golu
# subjects – Maths, Science, English, Computer Science, Accounts

import pymongo
import random
myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient['testDB']
mycol = ['Vikash' , 'Rakesh' , 'Monu' , "Bunty" , 'Golu']
for name in students :
    mydict = {'name':name , 'marks':random.randint(5,12)}
    mycol.insert_one(mydict)

ModuleNotFoundError: No module named 'pymongo'

In [ ]:
2. Write mongo query to upsert class key into students’ collection.

db.students.findAndModify({query :{$in : ['Vikash' , "Rakesh" , "Monu" , "Bunty" , "Golu"]} , update:{$set :class : "8th"},
upsert:true})

In [ ]:
3. Write mongo query to assign grade based on their marks.
    If marks are above, equal to 5 and below 7, grade = c
    If marks if equal to or above 7 and below 9, grade = b
     else grade = a

In [ ]:
4. Write a mongo aggregation to calculate every student’s performance in percentage. (Total marks scored in all subjects)

In [ ]:
5. Delete students with c grade.
db.students.deleteMany({grade:"c"})